<div class="container" style="max-width:300px">
    <div class="row p-3 my-5 bg-light shadow-lg ">
    <h3 class="text-primary text-center">Add User</h3>
    <form (ngSubmit)="addInfo()">
        <p>
            <label>Name</label>
            <input type="text" name="user" [(ngModel)]="inputObj.name" class="form-control">
        </p>
        <p>
            <label>Email</label>
            <input type="text" name="email" [(ngModel)]="inputObj.email" class="form-control">
        </p>
        <p>
            <label>Phone</label>
            <input type="text" name="phone" [(ngModel)]="inputObj.phone" class="form-control">
        </p>
        <p>
            <input type="submit" value="Add" class="btn btn-primary"> &nbsp;
            <input type="button" value="User's List" class="btn btn-success" routerLink="/list">
        </p>
    </form>
</div>
</div>